.popup {
    height: 90vh;
    width: 100%!important;
    padding: 0!important;
}

.popup--large {
    height: 100vh;
}

.container {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100%;
}

.audio {
    position: absolute;
    top: 20px;
    left: 20px;
}

.text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    padding: 30px;
    color: white;
    font-size: 18px;
    width: 100%;
    background: rgba(0,0,0,0.6);
}

.variants {
    padding: 20px;
    background: rgba(0,0,0,0.6);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
    display: grid;
    grid-row-gap: 20px;
}
.variant {
    padding: 10px;
    border-radius: 5px;
    transition: .3s;
    min-width: 300px;
    background:  rgba(0,0,0,0.4);
    cursor: pointer;
}
.variant:hover {
    background: black;
}

.character {
    position: absolute;
    bottom: 0;
    max-height: 80vh;
    max-width: 30%;
    object-fit: contain;
}