.container {
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0, 0.6);
    padding: 10px;
}

.tools {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: flex-start;
    justify-items: flex-start;
    grid-gap: 10px;
}

.title {
    font-size: 18px;
    margin-bottom: 10px;
}