.node_text {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.buttons {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    width: fit-content;
    align-items: center;
}