.popup {
    width: 1000px;
}


.wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 24px;
}

.character_list {
}

.character_case__state_name {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 1fr;
}

.character_case {
    margin-bottom: 20px;
}
.character_case {
    display: grid;
    grid-gap: 20px;
}