.input {
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(255,255,255,0.4);
    padding: 6px 10px;
    background: #707070;
    color: white;
    font-size: 18px;
    min-width: unset;
    max-width: 100%;
}
.input::placeholder {
    color: #c6c6c6;
}