.container {
    height: 100vh;
}

.toolbar {
    width: 300px;
    position: absolute;
    height: 100vh;
    right: 0;
    top: 0;
    background: gray;
    color: white;
    z-index: 4;
    padding: 16px;
    align-items: flex-start;
    align-content: flex-start;
    display: grid;
    grid-row-gap: 10px;
}